.careers_hero{
  position:relative;
  width:100%;
  min-height:520px;
  background:url("http://sam91222.local/wp-content/uploads/2026/02/business-people-holding-word-careers-1-scaled.jpg") center/cover no-repeat;
  display:flex;
  align-items:center;
}